SocialAndLocalAccounts - Account Link/.vscode/settings.json
SocialAndLocalAccounts - Account Link/.vs/SocialAndLocalAccounts - AAD/v15/.suo
SocialAndLocalAccounts - Account Link/.vs/slnx.sqlite
SocialAndLocalAccounts - Account Link/.vs/VSWorkspaceState.json
SocialAndLocalAccounts - Login with Phone Number/.vscode/settings.json
